.cor1 {
    background-color: orange;
}

.cor2 {
    background-color: mediumturquoise;
}

.cor3 {
    background-color: burlywood;
}

html, body
{
    height:100%;
}

.row {
    height:100%;
    position:relative;
}

.container {
    height:100%;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.scrollList {
    position: absolute;
    top: 20px;
    bottom: 50px;
    left: 20px;
    right: 20px;
    overflow: auto;
    margin: 0;
    padding: 0;

    border: 0px solid #ccc;

    font-size: 16px;
    font-family: Arial, sans-serif;

    /* Again, this is where the magic happens*/
    -webkit-overflow-scrolling: touch;
}

.scrollList_usersOnline {
    top: 0px;
    bottom: 50px;
    left: 0px;
    right: 0px;
}




